
#root {
  background-image: url("bg3.png");
  background-repeat: no-repeat;

  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  min-height: 100%;
  color: black;

  height: auto;
}

